<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"/>
    <title> StackOverflow </title>
  </head>

  <body style="background: #000;">
    <div class="content">
      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1 style="color:red;">
             Tags Recommandation
          </h1>
        </div>
      </header>

      <form method="POST" action="result.html">


                <label style="color:blue;" for='title'>Title for your Query ? </label>
                <br>
                <textarea name="title" id="title" cols="50" placeholder="Title" autofocus required></textarea>
                <br>

                <br>
                <label style="color:blue;" for='body'>Description of your Query ? </label>
                <br>
                <textarea name="body" id="body" rows="10" cols="50" placeholder="description" required></textarea>
            <input type="submit" value="Envoyer" />


      </form>

  </body>
</html>